@model HtmxMvc.Domain.Contact
<tr id="contact-@Model.Id" class="editing">
    <td colspan="4">
        <form hx-action="Update"
              hx-route-id="@Model.Id"
              hx-target="#contact-@Model.Id"
              hx-swap="outerHTML"
              class="form-row items-center">
            <input name="Name" value="@Model.Name" required placeholder="Name" />
            <input name="Email" value="@Model.Email" placeholder="Email" />
            <input name="Phone" value="@Model.Phone" placeholder="Phone" />
            <button type="submit">Save</button>
            <button type="button"
                    class="secondary"
                    hx-action="Row"
                    hx-route-id="@Model.Id"
                    hx-target="#contact-@Model.Id"
                    hx-swap="outerHTML">Cancel</button>
        </form>
    </td>
</tr>
